In [34]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib.dates as mdates

# Load Data

In [35]:
republished_df = pd.read_csv("../data/republished_sample.csv")
login_df = pd.read_csv("../data/login_sample.csv")
subscription_info_df = pd.read_csv("../data/subscription_info.csv")

In [36]:
republished_df.head()

  AccountCode action_date
0           a  2019-02-04
1           a  2019-02-04
2           a  2019-02-04
3           a  2019-02-04
4           a  2019-02-04

In [37]:
login_df.head()

  AccountCode action_date
0           a  2019-02-04
1           a  2019-02-04
2           a  2019-02-05
3           a  2019-02-05
4           a  2019-02-06

In [38]:
subscription_info_df.head()

  AccountCode subscription_starts_at subscription_ends_at
0           a             2019-02-04           2019-05-24
1           a             2019-05-29           2019-07-17
2           a             2019-08-12           2019-10-30
3           a             2019-10-30                  NaN
4           b             2019-03-14           2019-05-01

# Visualize

First, let's bring in subscription start date and subscription end date. 

Like any subscription-base company, Unbounce expect flappers -- subscribers who subscribe, churn, then come back at some point in time. There are cases when subscribers churn and come back on the **same** date. In order to distinguish these cases, we can apply **TIP #1**.

## **TIP #1: Color A + Color B = Color C** 

If we visualize `subscription start date` with a different color than `subscription end date` and use some opacity, we will have a different color for same-day flappers.

For example, here I choose **blue** for `subscription start date` and **red** for `subscription end date`, and change opacity through `alpha = 0.5` (`alpha` ranges from 0 to 1). This results in **magenta** for same-day flappers.

You can learn more about basic of color mixing through this article: https://mymodernmet.com/color-mixing-chart/